<%- include('header') %>
        <form method="get" action="/cotacao">
            <label>Data da cotação: <%- data %></label><br />
            <div class="form-group">
                <input pattern="[+-]?([0-9]*[.])?[0-9]+" name="cotacao" class="form-control" value="<%= cotacao %>" placeholder="Cotação dolar (0.00)" title="Somente valores numericos 0.00" required>
            </div>
            <div class="form-group">
                <input pattern="[0-9]+" name="quantidade" class="form-control" placeholder="Quantidade de dolares (0.00)" title="Somente valores numericos (0.00)" required>
            </div>
            <div class="form-group">
                <input class="btn btn-primary"  type="submit" value="Converter">
            </div>
        </form>
<%- include('footer') %>